<div class="ml1 mr1 light-silver pt4 pb2">
  <small class="f7 db">© <span id="year"></span> <b class="ttu">Spinny Nights</b>., All Rights Reserved. <a class="light-silver link dim underline" href="sitecredit">Site credits</a></small>
</div>