@font-face {
  font-family: 'Steinbeck Regular';
  src:  url('fonts/Steinbeck Regular.woff') format('woff');

}

@font-face {
  font-family: 'Steinbeck Italic';
  src:  url('fonts/Steinbeck Italic.woff') format('woff');

}



body {
  font-family: 'Steinbeck Regular', -apple-system, BlinkMacSystemFont,
               'avenir next', avenir,
               helvetica, 'helvetica neue',
               ubuntu,
               roboto, noto,
               'segoe ui', arial,
               sans-serif;
  background-image: url("");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}




ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

}

li {
  display: inline;
}

li a {
  padding-right: 50px;
  padding-left: 40px;
  margin-left: -40px;
  padding-top: 20px;
  padding-bottom: 20px;
  /* transform: rotate(180deg); */

}


li a:hover {
  /* text-decoration:underline; */
  background-image: url('images/hoverCircle.svg');
  height: 100px;
  /* width: 120px; */
  background-repeat:no-repeat;
  background-repeat:no-repeat;
  background-position: center center;
  /* background-clip: border-box; */
}

.nav-aboutus {

}



.underline {
  /* text-decoration:underline; */
  /* border-bottom: 2px solid currentColor; */
}



.footer-text {
  margin-right: 10vw;
  margin-left: 10vw;
  max-width: 1400px;
  padding-top: 100px;
  margin-bottom: 20px;
  font-size: 10px;
  font-family: Steinbeck Italic;
}

.events-content {
  margin-right: 10vw;
  margin-left: 10vw;
  max-width: 1400px;
}

.text-section {
  margin-right: 10vw;
  margin-left: 10vw;
  max-width: 1400px;
}


.coming-soon {
  margin-right: 10vw;
  margin-left: 10vw;
}

.nav {
  margin-right: 10vw;
  margin-left: 10vw;
  max-width: 1400px;
  padding-top: 80px;
  font-size: 22px;

}


.logo {
  font-size: 32px;
  line-height: 126%;
  font-family: Steinbeck Regular;
  display: inline-block;
  opacity: 1;
  text-align: right;
  max-width: 1400px;
  /* background-color: grey; */
  position: fixed;
  right: 10vw;
  /* top: 40px; */
  padding-top: 77px;
  margin-bottom: auto;
  transform: rotate(0deg);

  /* -webkit-animation:spin2 90s linear infinite;
  -moz-animation:spin2 90s linear infinite;
  animation:spin2 90s linear infinite; */

}


/* @-moz-keyframes spin2 { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin2 { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin2 { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } } */


.large-body {
  font-size: 42px;
  line-height: 126%;
  font-family: Steinbeck Regular;
}

.date {
  /* background-color: yellow; */
  font-size: 62px;
  font-family: Steinbeck Italic;
}

.event-name {
  /* background-color: white; */
  font-size: 62px;
  font-family: Steinbeck Regular;
}

.manicule {
  /* background-color: red; */
  font-size: 62px;
  font-family: Steinbeck Regular;
}

.tickets {
  /* background-color: purple; */
  font-size: 45px;
  font-family: -apple-system, BlinkMacSystemFont,
               'avenir next', avenir,
               helvetica, 'helvetica neue',
               ubuntu,
               roboto, noto,
               'segoe ui', arial,
               sans-serif;
  font-weight: bold;
}

.tickets:hover {
  font-style: italic;
}

article {
  display: inline;
}

.em {
  display: inline;
}

.the-em {
  width: 103px;
  position: inline-block;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}

.upcoming {
  /* background-color: #FCFCFC; */
  margin-top: 190px;
  position: relative;
}

.upcoming-icon {
  position: absolute;
  margin-left: -100px;
  margin-top: -5px;
  height: 72px;
  width: 72px;


  -webkit-animation:spin 30s linear infinite;
  -moz-animation:spin 30s linear infinite;
  animation:spin 30s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.previous-icon {
  position: absolute;
  margin-left: -100px;
  margin-top: -5px;
  height: 72px;
  width: 72px;


  -webkit-animation:spin3 30s linear infinite;
  -moz-animation:spin3 30s linear infinite;
  animation:spin3 30s linear infinite;
}

@-moz-keyframes spin3 { 100% { -moz-transform: rotate(-360deg); } }
@-webkit-keyframes spin3 { 100% { -webkit-transform: rotate(-360deg); } }
@keyframes spin3 { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } }

.previous {
  /* change back to 120px when there are upcoming events */
  margin-top: 190px;
  position: relative;
}

.date {
  font-family: 'Steinbeck Italic';
}

a {
  color: black;
  text-decoration: none;
}


.text-section-header {

  margin-bottom: auto;
  margin-top: 100px;
}


h2 {
  font-size: 62px;
  font-weight: normal;
}

h3 {
  font-size: 62px;
  font-weight: normal;
}

h4 {
  font-family: 'Steinbeck Italic';
  font-size: 42px;
  font-weight: normal;

}

p {
  font-size: 20px;
  line-height: 126%;
  font-weight: normal;
}



.text-bottom {
  padding-bottom: 150px;
}


@media only screen and (max-width: 1200px) {
  .upcoming-icon {
  position: relative;
  margin-left: -0px;
  margin-top: -0px;
  margin-right: 30px;
  }

  .previous-icon {
  position: relative;
  margin-left: -0px;
  margin-top: -0px;
  margin-right: 30px;
  }


}


@media only screen and (max-width: 600px) {
  .date {
    font-size: 40px;
  }
  .event-name {
    font-size: 40px;
  }
  .manicule {
    font-size: 40px;
  }
  .tickets {
    font-size: 30px;
  }

  h2 {
    font-size: 40px;
  }

  .the-em {
    width: 103px;
    position: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
  }
  .upcoming-icon {
  position: relative;
  margin-left: -0px;
  margin-top: -5px;
  margin-right: 20px;
  height: 40px;
  width: 40px;
  }

  .previous-icon {
    position: relative;
    margin-left: -0px;
    margin-top: -5px;
    margin-right: 20px;
    height: 40px;
    width: 40px;
  }

  .upcoming-body {
    /* background-color: #FCFCFC; */
    margin-top: 5vh;
  }

  .previous-body {
    /* background-color: #FCFCFC; */
    margin-top: 5vh;
  }

  .logo {
    display: inline-block;
    opacity: 1;
    text-align: left;
    max-width: 1400px;
    position: fixed;
    left: 5vw;
    padding-top: 0px;
    margin-top: 50px;
    margin-bottom: auto;
    transform: rotate(0deg);

  }


  .upcoming {
    margin-top: 150px;
    position: relative;
  }


  .footer-text {
    margin-right: 5vw;
    margin-left: 5vw;
    font-size: 8px;
    font-family: Steinbeck Italic;
  }

  .nav {
    margin-left: 5vw;
    padding-top: 120px;
  }

  li a {
    padding-right: 10px;
  }


  .events-content {
    margin-right: 5vw;
    margin-left: 5vw;
    max-width: 1400px;
  }

  .text-section {
    margin-right: 5vw;
    margin-left: 5vw;
    max-width: 1400px;
  }

  .large-body {
    font-size: 26px;
    line-height: 126%;
    font-family: Steinbeck Regular;
  }

  .text-bottom {
    padding-bottom: 90px;
  }

}
