---
title: Spinny Nights
description: Spinny Nights
layout: base.njk
---

<h1>Spinny Nights</h1>


<h1>Releases</h1>
<div class="flex flex-wrap pa3 pa5-ns">
  {% for releases in collections.releases | reverse %}
    <div class="db mw5 black bb ma1 b--light-gray">
      <a class=" link dim " href="{{ releases.url }}">
        <img class="" alt="" src="{{ releases.data.image }}"></a>
        <dl class="mt2 f6 lh-copy">
          <dd class="ml0 fw9">{{ releases.data.title }}</dd>
          <dd class="ml0 gray">{{ releases.data.date | postDate }}</dd>
          <a href="">
            <dd class="ml0 gray">Play</dd>
          </a>
        </dl>
      </div>
    {% endfor %}
  </div>
  <h1>Nights</h1>


  <div class="pa4">
  <div class="overflow-auto">
    <table class="f6 w-100 mw8 center" cellspacing="0">
      <thead>
        <tr>
          <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white">Artists</th>
          <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white">Date</th>
          <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white">Link</th>
        </tr>
      </thead>
  
      <tbody class="lh-copy">
            {% for nights in collections.nights | reverse %}
            
              <tr class="striped--near-white">
                <td class="pv3 pr3 bb b--black-20">{{ nights.data.title }}</td>
                <td class="pv3 pr3 bb b--black-20">{{ nights.data.date | postDate }}</td>
                <td class="pv3 pr3 bb b--black-20"><a href="{{ nights.data.link }}">Link</a></td>
              </tr>
            {% endfor %}
      </tbody>

    </table>
  </div>
</div>



 {% include 'newsletter.njk' %}