@font-face {
    font-family: 'Steinbeck Regular';
    src: url('assets/fonts/Steinbeck Regular.woff');
}

body {
    font-family: univers system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, athelas,
                    georgia,
                    serif;
    
}


h1 {
    font-size: 0.75em;
    line-height: 1.5;
}

h2 {
    font-size: 0.75em;
    line-height: 1.5;
}

p {
    font-size: 0.75em;
    line-height: 1.15;
}

.content-flexbox {
    height: 100dvh;
}

.release-item {
    width: 100%;
    @media screen and (max-width: 500px) {
        width: 84px;
    }
}

.coming-soon {
    height: 8rem;
    @media screen and (max-width: 500px) {
        height: 84px;
        width: 84px;
    }
}